
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: .2s;
}

/* Main */

.main {
  padding: 16px;
  overflow-y: auto;
}


/* THEME */

:root {
  --bg: #f9f9f9;
  --card-bg: #ffffff;
  --text: #000000;
  --border: #dddddd;
  --hover: #f1f1f1;
  --sidebar-hover: #f2f2f2;
  --filter-bg: #eeeeee;
}

body.dark {
  --bg: #0f0f0f;
  --card-bg: #181818;
  --text: #ffffff;
  --border: #303030;
  --hover: #272727;
  --sidebar-hover: #272727;
  --filter-bg: #272727;
}

/* Filters */

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.filter {
  padding: 6px 14px;
  background: var(--filter-bg);
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.filter.active {
  background: black;
  color: white;
}

/* Grid */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
}

/* Card */

.card {
  background: var(--card-bg);
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: transform .15s ease;
}

.card:hover {
  transform: translateY(-3px);
}

.thumbnail {
  height: 160px;
  background: #555;
  position: relative;
}

.time {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: rgba(0,0,0,.8);
  color: white;
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 4px;
}

.info {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.avatar {
  width: 28px;      
  height: 28px;
  border-radius: 50%;
  overflow: hidden;  
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  display: block;
}

.title {
  font-size: 14px;
  font-weight: bold;
}

.meta {
  font-size: 12px;
  color: gray;
}
